*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1400px;
    margin: auto;
    text-align: center;
}
.section_padding{
    padding: 100px 0;
}
.btn{
    background-color: darkcyan;
    padding:10px 20px;
    float: right;
    margin: 10px 20px;
    color: #fff;
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 15px;
}
.sectionA{
    background-color: rgb(87, 87, 209);
}
.sectionB{
    background-color: aqua;
}
.sectionC{
    background-color: blueviolet;
}
.sectionD{
    background-color: blue;
}
.sectionE{
    background-color: yellowgreen;
    color: #000;
}
.comparison_area{
    background-color: brown;
}
.ifelse{
    background-color: cadetblue;
}
.loop_area{
    display: flex;
}
.for_of {
    display: flex;
    justify-content: center;
}
.accodum {
    width: 70%;
    margin: auto;
    padding: 100px 0;
}
.accodum h1{
    padding-bottom: 20px;
}
.accordion{
    width: 100%;
    transition: 0.4s;
}
.contentBx{
    position: relative;
    padding: 4px 20px;
    transition: 0.4s;
}
.lable{
    position: relative;
    padding: 10px;
    background-color: #e08f8f;
    color: black;
    cursor: pointer;
    text-align: start;
    transition: 0.4s;
}
.content ::after{
    content: '+';
    position:absolute;
    top:50%;
    right: 50px;
    transform: translateY(-50%);
    font-size: 20px;
}
.active .content ::after{
    content: '-';
    top:10%;
}
 .content{
    background-color: #fff;
    color: black;
    height: 0;
    overflow: auto;
    transition: 0.4s;
 }
 .active .content{
    height: auto;
    padding: 10px 20px;
 }
 .accodianmm_area{
    width: 100%;
    margin: auto;
 }
 .accodumBox{
    position: relative;
    padding: 2px 20px;
    transition: 0.5s;
 }
 .sec1{
    position: relative;
    border: none;
    background-color: #fff;
    color: black;
    width: 100%;
    padding: 10px;
    text-align: start;
    cursor: pointer;
 }
.sec1::after{
    content: '\02795';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    /* font-size: 1.5em; */
}
 .acccArea{
    background-color: aliceblue;
    color: black;
    height: 0;
    overflow: hidden;
    transition: 0.3s;
 }
 .active .acccArea{
    height: auto;
    padding: 20px;
 }
 .active .sec1::after{
    content: '\2796';
    font-size: 1.5em;
 }
 .ppkja{
    padding-bottom: 20px;
 }
 .jsFunction_area {
    padding: 30px 0;
    color: blue;
}
.aniHtext{
    margin-bottom: 50px;
}
.bigBox{
    position:relative;
    height: 400px;
    width: 400px;
    background-color: cadetblue;
    margin: auto;
}
.animetBox {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: darkslategrey;
}
.manuse_hover{
    height: 100px;
    width: 150px;
    background-color: burlywood;
    margin: auto;
    margin-top: 20px;
    font-size: 30px;
    color: brown;
    cursor: pointer;
}
.nodess{
    cursor: pointer;
}