.container{
    max-width: 1400px;
    margin: auto;
}
.sectionA{
    background-color: rgb(87, 87, 209);
}
.sectionB{
    background-color: aqua;
    text-align: center;
}
.btn{
    background-color: darkcyan;
    padding:10px 20px;
    float: right;
    margin: 10px 20px;
    color: #fff;
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 15px;
}